Step 19
Give the .key.black--key::after a position property set to absolute and a left property set to -18px.

Sol:-
.key.black--key::after {
  background-color: #1d1e22;
  content: "";
  position:absolute;
  left:-18px;
}
