Step 20
For the .key.black--key::after, set the width to 32px and the height to 100px.

Sol:-
.key.black--key::after {
  background-color: #1d1e22;
  content: "";
  position: absolute;
  left: -18px;
  width:32px;
  height:100px;
}
