Step 61
While ul/li elements are great at providing bullets for list items, your radio buttons don't need them. You can control what the bullets look with the list-style property. For example you can turn your bullets into circles with the following:

ul {
  list-style: circle;
}
Remove the default styling for the .answers-list items by setting its style to none, and remove the unordered list padding.

Sol:-
 .answers-list{
    list-style:none;
    padding:0;
  }
