Step 49
When the screen width is small, the h1 does not wrap its text content how it should. Align the text for the h1 element in the center.

Then, give the main padding such that the Student Info section header can be fully seen.

Sol:-
h1 {
  color: #f1be32;
  font-size: min(5vw, 1.2em);
  text-align:center;
}
main{
  padding-top:40px;
}
