Step 51
Set the width of the section elements to 80% of their parent container. Then, use margins to center the section elements, adding 10px to the bottom margin.

Also, ensure the section elements cannot be larger than 600px in width.

Sol:-
section{
  margin-bottom:10px;
  margin-top:0;
  margin-right:auto;
  margin-left:auto;
  width:80%;
  max-width:600px;
}
