Step 37
The rectangles are too small and their edges don't have the soft quality of a painting.

Increase the area and soften the edges of .one by setting its box-shadow to 0 0 3px 3px #efb762.

Sol:-
.one {
  width: 425px;
  height: 150px;
  background-color: #efb762;
  margin: 20px auto;
box-shadow: 0 0 3px 3px #efb762;}
