Step 38
Use the same box-shadow declaration for .two, but change the color from #efb762 to #8f0401.
Sol:-
.two {
  width: 475px;
  height: 200px;
  background-color: #8f0401;
  margin: 0 auto 20px;
box-shadow: 0 0 3px 3px #8f0401;
}
