Step 12
Remove the margin from your body element, set the font-family to sans-serif, and give it a background-color of #f5f6f7 as the value.

Sol:-
body{
  font-family:sans-serif;
  background-color:#f5f6f7;
  margin:0;
}
