Step 25
Now update your h1 selector to be header h1 to specifically target your h1 element within your new header.
Sol:-
header h1 {
  text-align: center;
  margin: -4px 0;
  letter-spacing: 0.15px
}
