Step 27
Create a new .large selector and give it a height property set to 10px. Also create an .large, .medium selector and set the background-color property to black.

Sol:-
.large{
  height:10px;  
}
.large,.medium{
  background-color:black;
}
