Step 28
You may notice there is still a small border at the bottom of your .large element. To reset this, give your .large, .medium selector a border property set to 0.

Note: the medium(medium) class will be utilized later for the thinner bars of the nutrition label.

Sol:-
.large, .medium {
  background-color: black;
  border:0;
}
