Step 34
Create a new .calories-info selector and give it a display property set to flex. Also give it a justify-content property set to space-between and align-items property set to flex-end.

Sol:-
.calories-info{
  display:flex;
  justify-content:space-between;
  align-items:flex-end;
}
